[submodule "congress"]
	path = congress
	url = https://github.com/unitedstates/congress.git
[submodule "gpo_tools"]
	path = gpo_tools
	url = https://github.com/rbshaffer/gpo_tools.git
[submodule "us/congress-legislators"]
	path = us/congress-legislators
	url = https://github.com/unitedstates/congress-legislators.git
